<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<string>id1</string>
		<key>major</key>
		<integer>1</integer>
		<key>minor</key>
		<integer>101</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>id2</string>
		<key>major</key>
		<integer>1</integer>
		<key>minor</key>
		<integer>102</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>id3</string>
		<key>major</key>
		<integer>1</integer>
		<key>minor</key>
		<integer>103</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>id4</string>
		<key>major</key>
		<integer>1</integer>
		<key>minor</key>
		<integer>104</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>id5</string>
		<key>major</key>
		<integer>1</integer>
		<key>minor</key>
		<integer>105</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>id6</string>
		<key>major</key>
		<integer>1</integer>
		<key>minor</key>
		<integer>106</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>id7</string>
		<key>major</key>
		<integer>1</integer>
		<key>minor</key>
		<integer>107</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>id8</string>
		<key>major</key>
		<integer>1</integer>
		<key>minor</key>
		<integer>108</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>id9</string>
		<key>major</key>
		<integer>1</integer>
		<key>minor</key>
		<integer>109</integer>
	</dict>
</array>
</plist>
