<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Region identifier</key>
		<string>1-101</string>
		<key>Title</key>
		<string>南出入口</string>
		<key>Content URL</key>
		<string>1-101.html</string>
	</dict>
	<dict>
		<key>Region identifier</key>
		<string>1-102</string>
		<key>Title</key>
		<string>ロビー</string>
		<key>Content URL</key>
		<string>1-102.html</string>
	</dict>
	<dict>
		<key>Region identifier</key>
		<string>1-103</string>
		<key>Title</key>
		<string>モバイルコア</string>
		<key>Content URL</key>
		<string>1-103.html</string>
	</dict>
	<dict>
		<key>Region identifier</key>
		<string>1-104</string>
		<key>Title</key>
		<string>Fab-core</string>
		<key>Content URL</key>
		<string>1-104.html</string>
	</dict>
	<dict>
		<key>Region identifier</key>
		<string>1-105</string>
		<key>Title</key>
		<string>東正面出入口</string>
		<key>Content URL</key>
		<string>1-105.html</string>
	</dict>
	<dict>
		<key>Region identifier</key>
		<string>1-106</string>
		<key>Title</key>
		<string>西出入口</string>
		<key>Content URL</key>
		<string>1-106.html</string>
	</dict>
	<dict>
		<key>Region identifier</key>
		<string>1-107</string>
		<key>Title</key>
		<string>WC</string>
		<key>Content URL</key>
		<string>1-107.html</string>
	</dict>
	<dict>
		<key>Region identifier</key>
		<string>1-108</string>
		<key>Title</key>
		<string>EVホール</string>
		<key>Content URL</key>
		<string>1-108.html</string>
	</dict>
</array>
</plist>
