<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<string>1-101</string>
		<key>major</key>
		<integer>1</integer>
		<key>minor</key>
		<integer>101</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>1-102</string>
		<key>major</key>
		<integer>1</integer>
		<key>minor</key>
		<integer>102</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>1-103</string>
		<key>major</key>
		<integer>1</integer>
		<key>minor</key>
		<integer>103</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>1-104</string>
		<key>major</key>
		<integer>1</integer>
		<key>minor</key>
		<integer>104</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>1-105</string>
		<key>major</key>
		<integer>1</integer>
		<key>minor</key>
		<integer>105</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>1-106</string>
		<key>major</key>
		<integer>1</integer>
		<key>minor</key>
		<integer>106</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>1-107</string>
		<key>major</key>
		<integer>1</integer>
		<key>minor</key>
		<integer>107</integer>
	</dict>
	<dict>
		<key>identifier</key>
		<string>1-108</string>
		<key>major</key>
		<integer>1</integer>
		<key>minor</key>
		<integer>108</integer>
	</dict>
</array>
</plist>
