<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>ビーコン６</title>
  </head>
  <body>
    <article>
      <h1 id="title">ビーコン６</h1>
      <section>
        <img src="images/6-on.png" alt="ビーコン６">
        <p>ビーコン６のスタンプを獲得しました！</p>
      </section>
      <aside>UUID: F16A2B6B-9308-4406-AEC1-B5A605688378<br>major: 1, minor: 106</aside>
    </article>
  </body>
</html>
